<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Sorry!! Your password is weak.</h1>

    <hr>

    <a class="btn btn-light btn-lg" href="/register" role="button">Register Again</a>
  </div>
</div>

<%- include('partials/footer') %>
